#myname {
    font-size: 2.5rem;
	background: -webkit-linear-gradient(-315deg, #ffee00, #ffee00, #00ffff, #00ffff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	max-width: max-content;

	background-size: 300%;
	background-position: -100%;
	animation: animate-name 10s linear 0s infinite alternate-reverse backwards;
}

@keyframes animate-name {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 50%;
	}
	100% {
		background-position: 100%;
	}
}

.map-link {
	color: #ffee00;
}

.map-link:hover {
    color: #00ffff;
}