/* Navbar Component */
.navbar {
  background-color: transparent !important;
}

.icon {
  color: white;
}

.icon:hover {
  color: #00eeff !important;
  filter: drop-shadow(0 0 1rem #00eeff) !important;
}

.nav-active {
  animation: fadeInOutColorChange 5s forwards
}

@keyframes fadeInOutColorChange {
  0% {
    color: #00eeff;
  }
  30% {
    color: #eeff00;
  }
  100% {
    color: #ffffff;
  }
}

.music-pause {
  color: white;
  animation: rotate 5s linear infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.music-play {
  color: #eeff00;
  filter: drop-shadow(0 0 0.5rem #eeff00);
  animation: rotate 5s linear infinite;
  animation-play-state: running;
}

/* Rotate animation on music click */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* About Section */
#myname {
  font-size: 2.5rem;

  background: -webkit-linear-gradient(
    -315deg,
    #00eeff,
    #00eeff,
    #ffee00,
    #ffee00
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  max-width: max-content;

  background-size: 300%;
  background-position: -100%;
  animation: animate-name 20s linear 0s infinite alternate-reverse backwards;
}

@keyframes animate-name {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 100%;
  }
}

.map-link {
  color: #ffee00;
}

.map-link:hover {
  color: #00ffff;
}

/* Timeline Section */
.background-shadow {
  color: #ffffffee !important;
  text-shadow: 0 0 3rem #ffffffbd;
}

.timeline-active-indicator {
  color: #00eeffee !important;
}

/* Project Section */
.heading-color {
  color: #00eeffee;
}

/* Infinite Moving Cards - TimeLine Section */
.moving-card-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2%;
}


/* Background */
.canvas-style {
  position: fixed;
  z-index: -1;
}